.homeContainer{
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

.homeWrapper{
    border: solid 1px red;
    text-align: center;
}

.playInputField{
    height: 2rem;
    width: 1rem;
    font-size: 1.5rem;
    border-color: blue;
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.playNumbers{
    display: flex;
    border: solid;
    width: 50vw;
    justify-content: space-between;
    margin: 1.5rem;
    color: rgb(38, 38, 221);
    font-size: x-large;
    font-weight: 600;
}

.message{
    color: rgb(59, 185, 59);
    font-size: x-large;
    font-weight: 600;
}

.wonStyle {
    display: inline; 
    color: green;
}

.lostStyle {
    display: inline; 
    color: red;
}